.color_main_container{
                  margin: 5%;
}
.color_container{
                  display: grid;
                  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
                  gap: 18px; 
                  padding: 20px;           
}

.color{
                  width: 100%;
                  height: 100px;
                  color: black;
                  display: flex;
                  justify-content: center;
                  align-items: center;
}

.color_1{
     width: 100%;
     height: 200px;             
}
.color_l1{
     width: 100%;
     height: 150px;    
}
.color_action {
     display: flex;
     justify-content: space-between;
     padding: 10px;
    
     width: 100%;
 }
 .color_edit{
     
 }
 .color_edit button{
     color: green;
     border: none;
     background:none;
 }
 .color_delete{
     
 }
 .color_delete button{
     color: rgb(225, 39, 39);
     border: none;
     background:none;
 }
 
 .color_icon{
     width: 24px;
     height: 24px;
 }
 
 .new_color,.Exist_color{
     width: 200px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 @media screen and (max-width:1580px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto auto auto auto auto auto auto ;
          gap: 18px; 
          padding: 20px;           
}
 }
 
 @media screen and (max-width:1350px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto auto auto auto auto auto;
          gap: 18px; 
          padding: 20px;           
}
 }
 
 @media screen and (max-width:1150px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto auto auto auto auto;
          gap: 18px; 
          padding: 20px;           
}
 }
 @media screen and (max-width:950px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto auto auto auto ;
          gap: 18px; 
          padding: 20px;           
}
 }
 @media screen and (max-width:750px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto auto auto ;
          gap: 18px; 
          padding: 20px;           
}
 }
 
 @media screen and (max-width:550px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto auto ;
          gap: 18px; 
          padding: 20px;           
}
 }
 @media screen and (max-width:390px) {
     .color_container{
          display: grid;
          grid-template-columns: auto auto auto ;
          gap: 18px; 
          padding: 20px;           
}
 }